* {
	margin:0;
	padding:0;
}

html {
	font-size: 16px;
}
body {
	background-color: rgb(243,244,245);
}
img {
 	width:100%;
 }
h2 {
	text-align: center;
	color:rgb(0, 0, 0);
	font-size: 'Raleway', sans-serif;
	font-size: 3rem;
	margin-bottom:35px;
}
.container {
	max-width: 940px;
	margin:0 auto;
	padding: 0 10px;
}

.burger-button {
	width: 40px;
	height: 40px;
	border-radius: 50%; /*Es como si se estuviese asignando 20px*/
	background-color: rgb(45, 52, 56);
	display: none;
	line-height: 40px;
	text-align: center; /*estas dos propiedades hacen las veces de alignI y justifyC*/
	position: fixed;/*permite fijar o mover un elemento según el valor asignado*/
	z-index: 2;
	left: 5px;
	top: 5px;
	color: white;
	cursor: pointer;
  }

header {
	padding:5px 15px;
	
}

.jumbotron header{
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-evenly;
	align-items: center;
}
header h1 {
	font-family: 'Great Vibes', cursive, sans-serif;
	font-size: 3rem;
	font-weight: 400;
	color:rgb(0, 0, 0);
	
}
.nav {
	list-style-type: none;
	padding:20px 0;
}
.nav li {
	display: inline;
	margin-right:25px;
}
.nav li a {
	color:#000;
	text-decoration: none;
	padding:10px 30px;
	font-size: 1.2rem;
	
}
.nav li a:hover {
    color:rgb(255, 255, 255);
	border-radius: 5px;
}
.jumbotron {
	/* background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center; */
	background-color: #c1c1c1;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23fdfdfd' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	height: 800px;
}


.jumbotron h2 {
	text-transform: uppercase;
	font-size: 4.7rem;
	color:rgb(255,255,255);/*000*/
	text-shadow: rgba(12, 11, 11, 1) 3px 3px 5px;
}

.about {
	background-color: #fff;
}

.about-description {
	font-size: 2rem;
	font-weight: 600;
}
.about, .portfolio {
	padding-top: 80px;
	padding-bottom: 75px;
}

.about .container {
	display: flex;
	flex-direction: row;
	flex-flow:wrap;
	justify-content: space-evenly;
	
}

.about img {
	height: 60px;
	margin-bottom: 20px;
}

.about p {
	margin-bottom: 20px;
}

.about .about-col {
	width: 23%;
	margin: 5px;
	text-align: center;
}


input[name ^=field], textarea[name ^=field] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[name ^=field]:focus, textarea[name ^=field]:focus {
  border:3px solid #555;
}


input[type = email], input[name="field-name"] {
	width: 49.7777777%;
}

.button {
  background-color: rgba(252, 193, 7, 1);
  border-radius:5px;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}

.portfolio {
	padding-top: 80px;
	padding-bottom: 75px;
}
.portfolio .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.portfolio-col {
	background-color: #fff;
	width: 32%;
	height: auto;
	text-align: center;	
	transition: box-shadow 200ms ease;
}

.portfolio-col p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 20px;
	padding: 0 50px;
	margin-top:20px;
	margin-bottom: 30px;
	color: #000;
}


.portfolio .portfolio-col:hover {
	box-shadow: 0 34px 50px -15px rgba(0, 0, 0, 0.13);    
}

/*Aside y Footer*/

.contacto {
	background-color: rgb(227, 229, 231);
	padding-top: 10px;
}
#email {
	width: 200px;
	border-color: gray;
	border-radius: 5px;
	padding: 10px 20px 10px 25px;
	background-image: url('../img/envelope.svg');
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 5px;
}

input[type=submit] {
	display: inline-block;
	background: rgba(252, 193, 7, 1);
	color: #fff;
	padding: 10px 0;
	border-radius: 5px;
	width: 100px;
	margin-top: 10px;	
}

.contacto-formulario {
	float: left;
}
.social {
	float: right;
	margin-top: 22px;	
}

.social-link {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 10px;
	background-size: 50px 50px;
}

.social-link.twitter {
	background-image: url('../img/twitter.svg');
}
.social-link.facebook {
	background-image: url('../img/facebook.svg');
}
.social-link.github {
	background-image: url('../img/github.svg');
}
.social-link.instagram {
	background-image: url('../img/instagram.svg');
}

.clearfix {
	clear: both;
}

footer {
	background-color: rgb(227, 229, 231);
	color:rgb(45, 52, 56);
}

footer .container {
	padding:15px;
}


